* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 70%;
    height: 80%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 4px;
}

button {
    height: 50px;
    width: 30%;
    border-radius: 25px;
    background-color: rgb(121, 121, 204);
    color: white;
    font-size: large;
    border: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    button {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
}